html, body {
    height: 100%;
    background-color: rgb(247, 247, 247) !important;
  }
  #wrapper {
    min-height: 100vh;
  }
  

  
  #sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #main-content {
    margin-left: 250px;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }

  #graficoPostsStatus, #graficoVisualizacoes, #graficoComentarios  {
    
   
}



  